html{overflow-y:scroll;}
body{background:url(images/bg_g.png) repeat #000 fixed;font:12px osaka;}
a,
a:visited{color:#005983;text-decoration:none;}
a:hover{color:#0082A0;text-decoration:none;}
.bg-gradient{background:url(images/bg-gradient.png) left bottom repeat-x fixed;position:relative;width:100%;height:100%;}
#container{-webkit-box-shadow:0 0 10px #000;box-shadow:0 -10px 10px #000;margin:0 auto;width:960px;}
#top-bar{background:#000;border-bottom:1px solid #222;height:54px;position:relative;z-index:10;}
#rss a{float:left;width:29px;height:29px;margin:13px 0 0 23px;}
#rss span{display:none;}
#top_search{float:right;margin-top:10px;width:208px;}
#top_search input{border:none;color:#2b2b2b;float:left;padding:2px 10px 2px 7px;width:140px;height:15px;margin:2px 3px 0 50px;}
#top_search button{background:none;border:0;cursor:pointer;display:block;float:left;margin-left:10px;width:23px;height:23px;}
#top_search button span{display:none;}
#nav #top_search{position:absolute;right:0;top:-9px;}
#header{background-color:#000;background-position:center;background-repeat:no-repeat;border-top:0px solid #000;border-bottom:0px solid #000;height:100px !important;position:relative;width:960px;}
#header h1{font:42px Avant Garde, Century Gothic, Arial, sans-serif;font-style:none;position:relative;left:20px;top:20px;width:852px;text-shadow:1px 1px 1px #222;}
#header h1 a,
#header h1 a:visited{text-decoration:none;}
#header h2{border-bottom:none;font:20px Arial Narrow, Avant Garde, Arial, sans-serif;font-style:italic;position:relative;top:13px;left:20px;width:852px;text-shadow:1px 1px 1px #000;}
#header_img_link{display:block;position:absolute;text-decoration:none;width:960px;height:198px;}
#header .sidebar-wrap{position:absolute;z-index:1000;}
.sidebar-wrap #searchsubmit{float:right;margin-top:10px;}
.sidebar-wrap #s{width:160px;}
#nav{background:#005983;color:#fff !important;opacity:0.9;border-top:1px solid #0082A0;border-bottom:0px solid #fff;padding-top:0px;position:relative;width:100%;height:25px;z-index:100;}
#nav .menu,
#nav .menu ul{clear:both;float:left;line-height:1;list-style:none;margin:0;padding:0;color:#fff !important;}
#secondary-menu{width:100%;}
#nav .menu a{display:block;}
#nav .menu li{float:left;margin-left:15px;}
#nav .menu li:hover,
#nav .menu li.sfhover{position:static;}
#nav .menu li li{margin-left:0;width:175px;}
#nav .menu li ul{left:-999em;position:absolute;width:175px;z-index:100;}
#nav .menu li:hover ul,
#nav .menu li.sfhover ul{left:auto;}
#nav .menu li ul ul{margin:-20px 0 0 175px;}
#nav .menu li:hover ul ul,
#nav .menu li:hover ul ul ul,
#nav .menu li:hover ul ul ul ul,
#nav .menu li:hover ul ul ul ul ul,
#nav .menu li.sfhover ul ul,
#nav .menu li.sfhover ul ul ul,
#nav .menu li.sfhover ul ul ul ul,
#nav .menu li.sfhover ul ul ul ul ul{left:-999em;}
#nav .menu li:hover ul,
#nav .menu li li:hover ul,
#nav .menu li li li:hover ul,
#nav .menu li li li li:hover ul,
#nav .menu li li li li li:hover ul,
#nav .menu li.sfhover ul,
#nav .menu li li.sfhover ul,
#nav .menu li li li.sfhover ul,
#nav .menu li li li li.sfhover ul,
#nav .menu li li li li li.sfhover ul{left:auto;}
#nav .menu li a,
#nav .menu li a:visited{color:#dfedff;font:normal 12px Avant Garde, Century Gothic, Arial, sans-serif;line-height:25px;padding:0px 6px;text-decoration:none;}
#nav .menu ul{border:0px solid #a0a0a0;}
#nav .menu ul li a,
#nav .menu ul li{background:#005983 !important;color:#fff !important;opacity:0.99;padding-top:0;}
#nav .menu ul a,
#nav .menu ul a:visited{font-size:12px;}
#nav .menu ul li a:visited{border-bottom:0px solid #a0a0a0;color:#000;line-height:16px;padding:2px 5px;text-decoration:none;width:165px;}
#nav .menu li a:hover,
#nav .menu li:hover a,
#nav .menu li:hover a:visited,
#nav .menu li a:hover,
#nav .menu li.sfhover a,
#nav .menu li.sfhover a:visited,
#nav .menu li.current_page_item a,
#nav .menu li.current-menu-item a,
#nav .menu li.current_page_ancestor a,
#nav .menu li.current-category-ancestor a,
#nav .menu li.current-menu-parent a,
#nav .menu li.current-menu-ancestor a,
#nav .menu li.current_page_parent a,
#nav .menu li.current_page_item a:visited,
#nav .menu li.current-menu-item a:visited,
#nav .menu li.current_page_ancestor a:visited,
#nav .menu li.current-category-ancestor a:visited,
#nav .menu li.current-menu-parent a:visited,
#nav .menu li.current-menu-ancestor a:visited,
#nav .menu li.current_page_parent a:visited{color:#fff !important;background:#0082A0;opacity:0.9;}
#nav .menu li:hover,
#nav .menu li.sfhover,
#nav .menu li.current_page_item,
#nav .menu li.current-menu-item,
#nav .menu li.current_page_ancestor,
#nav .menu li.current-category-ancestor,
#nav .menu li.current-menu-parent,
#nav .menu li.current-menu-ancestor,
#nav .menu li.current_page_parent{}
#nav .menu ul li a:hover{background:#0082A0 !important;color:#fff !important;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);filter:alpha(opacity=90);opacity:0.9;box-shadow:inset 0px -30px 30px rgba(255,255,255,0.2);-moz-box-shadow:inset 0px -30px 30px rgba(255,255,255,0.2);-webkit-box-shadow:inset 0px -30px 30px rgba(255,255,255,0.2);}
#nav #secondary-menu.menu li a,
#nav #secondary-menu.menu li a:visited{color:#71716F;font-size:11px;text-transform:none;}
#nav #secondary-menu.menu ul li a,
#nav #secondary-menu.menu ul li a:visited{border-bottom:1px solid #a0a0a0;color:#000;line-height:normal;padding:2px 5px;text-decoration:none;width:165px;}
#nav #secondary-menu.menu li a:hover,
#nav #secondary-menu.menu li:hover a,
#nav #secondary-menu.menu li:hover a:visited,
#nav #secondary-menu.menu li a:hover,
#nav #secondary-menu.menu li.sfhover a,
#nav #secondary-menu.menu li.sfhover a:visited,
#nav #secondary-menu.menu li.current_page_item a,
#nav #secondary-menu.menu li.current-menu-item a,
#nav #secondary-menu.menu li.current_page_ancestor a,
#nav #secondary-menu.menu li.current-category-ancestor a,
#nav #secondary-menu.menu li.current-menu-parent a,
#nav #secondary-menu.menu li.current-menu-ancestor a,
#nav #secondary-menu.menu li.current_page_parent a,
#nav #secondary-menu.menu li.current_page_item a:visited,
#nav #secondary-menu.menu li.current-menu-item a:visited,
#nav #secondary-menu.menu li.current_page_ancestor a:visited,
#nav #secondary-menu.menu li.current-category-ancestor a:visited,
#nav #secondary-menu.menu li.current-menu-parent a:visited,
#nav #secondary-menu.menu li.current-menu-ancestor a:visited,
#nav #secondary-menu.menu li.current_page_parent a:visited{color:#000;}
#nav #secondary-menu.menu li:hover,
#nav #secondary-menu.menu li.sfhover,
#nav #secondary-menu.menu li.current_page_item,
#nav #secondary-menu.menu li.current-menu-item,
#nav #secondary-menu.menu li.current_page_ancestor,
#nav #secondary-menu.menu li.current-category-ancestor,
#nav #secondary-menu.menu li.current-menu-parent,
#nav #secondary-menu.menu li.current-menu-ancestor,
#nav #secondary-menu.menu li.current_page_parent{}
#nav #secondary-menu.menu ul li a:hover{background:#e0e0e0 !important;}
#content{background:#e3e3e3;border-top:21px solid #e3e3e3;padding-bottom:20px;}
#content-main{float:none;width:100%;}
.two-columns #content-main{float:left;width:725px;}
.three-columns #content-main{float:left;width:460px;}
.three-columns #content-main{float:left;width:460px;}
.three-col-right.three-columns #content-main{float:right;}
.three-col-center.three-columns #content-main{width:445px;}
h1.page-title{background:#2070B7;background:linear-gradient(left top, #CCCCCC, #FFFFFF);background:-moz-linear-gradient(left top, #CCCCCC, #FFFFFF);background:-webkit-gradient(linear, 0 0, 0 bottom, from(#CCCCCC), to(#FFFFFF));-pie-background:linear-gradient(left top, #CCCCCC, #FFFFFF);-moz-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;border-bottom:5px solid #FFFFFF;border-radius:5px;color:#101030;display:inline;font:bold 13px Avant Garde, Century Gothic, Arial, sans-serif;margin:0 auto 10px;padding:8px 0;text-align:center;text-shadow:0 -1px 1px #FFFFFF;}
h1.page-title span{color:#101030;}
.featured_slider{-pie-background:linear-gradient(left top, #E8E8E8, #9c9caa);background:#E8E8E8;background:linear-gradient(left top, #E8E8E8, #9c9caa);background:-moz-linear-gradient(left top, #E8E8E8, #9c9caa);background:-webkit-gradient(linear, left top, right bottom, from(#E8E8E8), to(#9c9caa));margin-bottom:6px;-moz-box-shadow:0 0 4px #555;-webkit-box-shadow:0 0 4px #555;border-radius:5px 5px 5px 5px;padding-bottom:20px;padding-top:10px;position:relative;width:100%;}
.full-sized.featured_slider{margin-top:-9px;padding-top:0;-pie-background:none;background:none;}
.featured_slider #slider_root{background:#fff;-moz-box-shadow:0 0 5px #000;-webkit-box-shadow:0 0 5px #000;box-shadow:0 0 5px #000;margin:10px auto 0;overflow:hidden;position:relative;width:920px;height:240px;}
.two-columns .featured_slider #slider_root{width:686px;}
.three-columns .featured_slider #slider_root{width:415px;}
.three-col-center .featured_slider #slider_root{width:400px;}
.one-column .full-sized.featured_slider #slider_root{width:930px;}
.three-columns .full-sized.featured_slider #slider_root{width:445px;}
.three-col-right .full-sized.featured_slider #slider_root{margin-left:0;}
.full-sized.featured_slider #slider_root{-moz-box-shadow:0 0 5px #555;-webkit-box-shadow:0 0 5px #555;box-shadow:0 0 5px #555;margin-left:15px;width:660px;}
.two-col-right .full-sized.featured_slider #slider_root{margin-left:0;margin-right:15px;}
.three-col-center .full-sized.featured_slider #slider_root{margin-left:0;}
.featured_slider .slider_items{position:absolute;width:20000em;height:100%;}
.sliderpost_featured_image{float:left;margin:4px 1em 12px 0;}
.sliderpost_featured_image img{-moz-box-shadow:0 0 5px #555;-webkit-box-shadow:0 0 5px #555;box-shadow:0 0 5px #555;}
.slider_post{float:left;padding:20px;position:relative;width:890px;height:200px;}
.full-sized .slider_post{padding:0;position:relative;width:930px;height:100%;}
.full-sized .sliderpost_featured_image{position:absolute;top:0;left:0;z-index:0;}
.full-sized .slider-entry-wrap{background:url(images/black70.png) repeat;background:rgba(0, 0, 0, 0.7);position:absolute;right:0;top:0;width:35%;height:100%;}
.full-sized .slider-entry-wrap .slider-content-wrap{padding:5px 10px;}
.full-sized .block-button,
.full-sized .block-button:visited{border-color:#9c9caa;position:absolute;right:10px;bottom:10px;}
.full-sized .slider_post h2 a,
.full-sized .slider_post h2 a:visited{color:#fff;font:normal 14px Avant Garde, Century Gothic, Arial, sans-serif;}
.full-sized .slider_post_entry p{color:#ccc;}
.two-columns .slider_post{width:640px;}
.two-columns .full-sized .slider_post{width:660px;}
.three-columns .slider_post{width:375px;}
.three-columns .full-sized .slider_post{width:445px;}
.three-col-center .slider_post{width:360px;}
.slider_post h2{border-bottom:none;}
.slider_post h2 a,
.slider_post h2 a:visited{font:normal 18px Avant Garde, Century Gothic, Arial, sans-serif;color:#02126A;}
.slider_post a.continue_reading{display:none;}
.block-button,
.block-button:visited{background:url(images/bg-sidebar-h3.png) left bottom repeat-x #FFFFFF;background:-moz-linear-gradient(left top, #E8E8E8, #FFFFFF);background:-webkit-gradient(linear, 0 0, 0 bottom, from(#E8E8E8), to(#FFFFFF));background:linear-gradient(#E8E8E8, #FFFFFF);border:0px solid #CCC;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 0 5px #555;-webkit-box-shadow:0 0 5px #555;box-shadow:0 0 3px #555;color:#101030;cursor:pointer;display:block;float:right;font:bold 11px Avant Garde, Century Gothic, Arial, sans-serif;margin:5px 5px 5px;padding:4px 5px 5px;position:relative;text-decoration:none;text-shadow:0 1px 1px #FFFFFF;}
.block-button:hover{background:url(images/bg-block-button-hover.png) left bottom repeat-x #9c9caa;background:-moz-linear-gradient(left top, #fff, #9c9caa);background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#9c9caa));background:linear-gradient(#fff, #9c9caa);color:#101030;cursor:pointer;text-decoration:none;text-shadow:0 1px 1px #fff;}
.slider_nav{clear:both;height:20px;padding-top:5px;position:absolute;right:20px;text-align:right;}
.full-sized .slider_nav{right:0;}
.one-column .full-sized .slider_nav,
.two-col-right .full-sized .slider_nav,
.three-col-right .full-sized .slider_nav{right:15px;}
.slider_nav a span{display:none;}
slider_nav a,
.slider_nav a:visited{display:inline-block;margin-left:3px;width:12px;height:12px;}
.slider_nav a.active,
.slider_nav a.active:visited,
.slider_nav a:hover{background-position:-68px -37px;}
.post{background:#fff;-moz-border-radius:0;-webkit-border-radius:0;border-radius:5px;border-bottom:1px solid #ccc;border-top:3px solid #d8d8d8;margin-bottom:4px;overflow:visible;padding:5px 15px 1px 70px;position:relative;width:875px;}
.child-page{background:#E9ECF5;-moz-border-radius:0 !important;-webkit-border-radius:0 !important;border-radius:0 !important;padding-bottom:10px;padding-top:10px;}
.one-column .page,
.one-column .post.author,
.one-column .child-page{width:930px;}
.child-page .entry-content{margin-top:0;}
.child-page .entry-content p{line-height:18px;margin-top:5px;}
.child-page .post-title{border-bottom:none;margin:0;padding:0;}
.child-page .excerpt-thumb img{margin:0 5px 0 0;}
.post.nodate,
.post.page,
.post.post_404,
.post.post_404_search{padding-left:15px;}
.one-column .post.nodate{width:930px;}
.two-columns .post{-moz-border-radius-topright:10px;-webkit-border-top-right-radius:10px;border-top-right-radius:10px;width:685px;}
.two-columns .post.nodate,
.two-columns .post.page,
.two-columns .post.post_404,
.two-columns .post.post_404_search{width:695px;}
.three-columns .post{-moz-border-radius-topright:20px;-webkit-border-top-right-radius:20px;border-top-right-radius:20px;width:375px;}
.three-columns .post.nodate,
.three-columns .post.page,
.three-columns .post.post_404,
.three-columns .post.post_404_search{width:430px;}
.three-col-center .post{width:360px;}
.three-col-center .post.nodate,
.three-col-center .post.page,
.three-col-center .post.post_404,
.three-col-center .post.post_404_search{width:415px;}
.two-col-right .post,
.three-col-right .post,
.two-col-right #comments ol li.comment.depth-1,
.three-col-right #comments ol li.comment.depth-1,
.two-col-right #commentform,
.three-col-right #commentform{-moz-border-radius-topleft:20px;-moz-border-radius-topright:0;-webkit-border-top-left-radius:20px;-webkit-border-top-right-radius:0;border-top-left-radius:20px;border-top-right-radius:0;}
.three-col-center .post,
.three-col-center #comments li.depth-1,
.three-col-center #commentform{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
.adsense_single{text-align:center;}
.post .date{margin:0;padding:0;position:absolute;top:25px;left:15px;text-align:center;width:46px;height:65px;}
.post .date p{color:#e3e3e3;display:inline;font:normal 12px tahoma;line-height:22px;}
.post .date p span{color:#2b2b2b;font-size:18px;}
.post .date p span.year{color:#2b2b2b;font-size:11px;font-weight:bold;}
.post .entry{margin:0;padding:0;}
h2,
h2 a,
h2 a:visited{border-bottom:1px solid #999;font:18px Avant Garde, Century Gothic, Arial, sans-serif;padding-bottom:5px;}
h2 a,
h2 a:visited{border:none;}
.post-meta{position:relative;}
.post-meta p,
.post-meta ul,
.post-meta li{float:left;}
.post-meta ul{padding-left:15px;max-width:60%;}
.three-columns .post-meta ul{width:185px;}
.post-meta li{font:normal 11px Avant Garde, Century Gothic, Arial, sans-serif;line-height:18px;list-style-position:outside;list-style-type:none;margin-left:5px;}
.post-meta .post-author,
.post-meta .edit-post,
.post-meta .post-date-inline{display:block;float:right;font:normal 11px Avant Garde, Century Gothic, Arial, sans-serif;color:#0082A0;line-height:18px;position:relative;}
.post-meta .edit-post,
.post-meta .post-date-inline{margin-left:5px;}
.post-meta .post-date-inline{border-left:1px solid #ccc;padding-left:5px;}
.post .avatar{position:absolute;right:15px;top:12px;}
.sticky{background-color:#001;opacity:0.9;border-radius:0 !important;}
.sticky a,
.sticky a:visited{color:#ddeeff;}
.sticky a:hover{color:#AA0000;}
.sticky .entry-content p{color:#CCC;}
.sticky h2,
.sticky .post-meta .post-date-inline,
.sticky .entry-footer{border-color:#aaa;}
.entry-content{clear:both;margin-top:10px;}
.entry-content,
.entry-content p,
.slider_post_entry p,
.entry-content ul,
.entry-content ol,
.comment-entry ol{color:#2b2b2b;font:normal 12px Avant Garde, Century Gothic, Arial, sans-serif;line-height:20px;}
.entry-content p{overflow:hidden;}
.wp-caption{background:#fff;margin:0 auto;}
.wp-caption img{border:none !important;}
.wp-caption-text{color:#2b2b2b !important;font:bold 10px Avant Garde, Century Gothic, Arial, sans-serif !important;margin:0 9px !important;padding-bottom:1px !important;text-align:left;}
.comment-entry ol,
.comment-entry ul{display:block !important;margin:5px 0 10px 25px !important;width:auto !important;}
.comment-entry li{line-height:18px;margin-bottom:10px;}
.comment-entry ul li{list-style-type:circle !important;}
.nopassword{margin-left:80px;}
.entry-content .gallery-caption{background:#efefef;color:#555;font-size:11px;padding:5px;}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.comment-entry h1,
.comment-entry h2,
.comment-entry h3,
.comment-entry h4,
.comment-entry h5,
.comment-entry h6{color:#333;font:bold 16px Avant Garde, Century Gothic, Arial, sans-serif;margin:20px 0 5px 0;}
.entry-content h1,
.comment-entry h1{font-size:20px;}
.entry-content h2,
.comment-entry h2{border-bottom:none;font-size:18px;}
.entry-content h4,
.comment-entry h4{font-size:14px;}
.entry-content h5,
.comment-entry h5{font-size:13px;}
.entry-content h6,
.comment-entry h6{font-size:12px;}
.entry-content p,
.comment-entry p,
dt{margin-top:10px;}
.entry-content .excerpt-thumb,
.child-page .excerpt-thumb{float:left;margin:5px 5px 0 0;}
.entry-content .wp-caption img{margin-bottom:0;}
.entry-content .wp-caption-text{margin-top:0;}
a.more-link,
a.more-link span{display:block;margin:0 5px 5px 0;}
.slider_post a.more-link{display:none;}
.entry-content dt{margin-top:10px;}
.entry-content ul{list-style-position:outside;margin:10px 0 10px 50px;}
.entry-content ul ul{margin-left:30px;}
.entry-content ul li{list-style-image:url(images/list-style-image.png);margin-bottom:7px;}
.entry-content ol{margin:5px 0 5px 50px;}
.comment-entry ol li{list-style:decimal;}
.entry-content ol li{margin-bottom:7px;}
.entry-content ol ol,
.comment-entry ol ol li{list-style-type:lower-alpha;margin-left:30px;}
.comment-entry ol ol li{margin-left:0;}
.entry-content ol ol ol,
.comment-entry ol ol ol li{list-style-type:lower-roman;}
.entry-content img,
.child-page img{border:4px solid #e3e3e3;margin:5px;}
.alignright{float:right;margin:4px 0 12px 1em !important;border:none !important;}
.alignleft{float:left;margin:4px 1em 12px 0 !important;border:none !important;}
.aligncenter{display:block;margin:1em auto !important;}
img.wp-smiley,
.entry-content p img.wp-smiley,
.comment-entry p img.wp-smiley{border:none !important;display:inline !important;float:none !important;margin:0;}
table{border-collapse:collapse;}
table td,
table th,
table tr{border:1px solid #ccc;font-family:Avant Garde, Century Gothic, Arial, sans-serif;padding:2px 5px;}
table th{background:#e0e0e0;border-bottom-width:2px;}
table tr{background:#f3f3f3;}
table tr.alternate{background:#fff;}
table#wp-calendar td,
table#wp-calendar th,
table#wp-calendar tr{border:none;}
blockquote{background:#f3f3f3;border:1px dotted #e3e3e3;clear:both;margin:10px 0 10px 20px;padding:8px 18px 5px 32px;}
blockquote p{color:#474747 !important;margin-bottom:5px;margin-top:0 !important;}
blockquote cite{display:block;font-style:italic;margin-top:10px;text-align:right;}
blockquote blockquote{margin-left:0;}
p cite{display:block;text-align:right;}
p code{background-color:#EDEDFF;}
p.form-allowed-tags code{background:none;}
code.block,
pre.block{background:#f3f3f3;border:1px dotted #e3e3e3;color:#000;display:block;font:normal 11px Avant Garde, Century Gothic, Arial, sans-serif;margin:10px 0;padding:15px 2px 2px 20px;}
.entry-footer{border-top:0px solid #999;clear:both;margin-top:20px;}
.link-pages{clear:both;margin-top:10px;}
.add-this,
.add-this-right{float:left;padding-top:10px;}
.add-this-right{float:right;}
.post-tags{color:#929292;float:left;font:normal 11px Avant Garde, Century Gothic, Arial, sans-serif;line-height:16px;margin-top:5px;max-width:60%;}
.single .author{background:#E9ECF5;margin-bottom:10px;margin-top:5px;padding:10px;}
.single .author_h4{color:#929292;font:normal 18px Avant Garde, Century Gothic, Arial, sans-serif;margin:15px 0 5px 10px;}
.author-entry .avatar,
.author-info .avatar{float:left;margin-right:10px;position:static;}
.author-entry .author_name{font-size:14px;margin-bottom:5px;}
.author-entry p{color:#444;font-size:11px;line-height:18px;}
.author-entry .avatar{border:4px solid #e3e3e3;float:left;}
.author-entry h2,
.author-entry .entry-content{float:right;width:405px;}
.one-column .author-entry h2,
.one-column .author-entry .entry-content{width:760px;}
.two-columns .author-entry h2,
.two-columns .author-entry .entry-content{width:475px;}
.three-columns .author-entry h2,
.three-columns .author-entry .entry-content{width:260px;}
.three-col-center .author-entry h2,
.three-col-center .author-entry .entry-content{width:245px;}
.author-entry .entry-content{clear:right;padding-bottom:20px;}
.author-entry .author-first-heading{margin-bottom:0;margin-top:0;}
.comment-nav{color:#929292;font:normal 12px Avant Garde, Century Gothic, Arial, sans-serif;text-align:center;}
.comment-link{float:right;padding-top:5px;text-align:right;}
.comment-link a,
.comment-link a:visited{font:normal 18px Avant Garde, Century Gothic, Arial, sans-serif;}
.post-nav{margin-bottom:20px;}
#previous,
#previous a,
#previous a:visited,
#next-post,
#next-post a,
#next-post a:visited{color:#929292;font:12px Avant Garde, Century Gothic, Arial, sans-serif;text-decoration:none;}
#previous{float:left;margin-left:8px;}
#next-post{float:right;margin-right:8px;text-align:right;}
#comments{position:relative;}
#comments .nopassword{background:none repeat scroll 0 0 #FFFFE0;border:1px solid #E6DB55;float:left;margin-top:15px;padding:10px;}
#comments > h4,
#respond > h3,
h3.author-post-list{clear:both;color:#929292;font:normal 20px Avant Garde, Century Gothic, Arial, sans-serif;margin:20px 0 5px 24px;padding-left:25px;}
#comments > h4 a,
#comments > h4 a:visited{color:#929292;}
#comments h4.pings{background-position:-880px -109px;clear:none;}
#comments > h4{float:left;}
#comments > h4.current a{color:#101030;}
#respond h3#reply-title{background-position:-880px -17px;}
h3.author-post-list{background-position:-880px -76px;margin-bottom:10px;margin-top:50px;padding-left:30px;}
#respond h3#reply-title small{background:none;display:block;font-size:12px;}
#comments ol{list-style-position:outside;list-style-type:none;}
#comments > ol{clear:both;}
#comments ol li.comment.depth-1,
#comments ol li.pingback.depth-1,
#comments ol li.trackback.depth-1{background:#e9ecf5;-moz-border-radius-topright:20px;-webkit-border-top-right-radius:20px;border-top-right-radius:20px;margin-bottom:10px;padding-right:20px;}
.one-column #comments li.depth-1,
.one-column #commentform{-moz-border-radius:0 !important;-webkit-border-radius:0 !important;border-radius:0 !important;}
#comments ol li .avatar{border:1px solid #aaa;display:block;position:absolute;top:20px;left:20px;}
#comments ol li.comment,
#comments ol li.pingback,
#comments ol li.trackback{clear:both;padding:18px 0 10px 70px;position:relative;}
#comments ol li.pingback.depth-1,
#comments ol li.trackback.depth-1{padding-left:15px;}
#comments li.comment .comment-wrap > h5,
#comments li.pingback .comment-wrap > h5,
#comments li.trackback .comment-wrap > h5{border-bottom:1px solid #d5d3d3;color:#2b2b2b;font:normal 14px Avant Garde, Century Gothic, Arial, sans-serif;line-height:24px;width:100%;}
#comments li.comment .comment-wrap > h5 cite,
#comments li.pingback .comment-wrap > h5 cite,
#comments li.trackback .comment-wrap > h5 cite{font-style:normal;}
#comments ol.children li.comment{padding:10px 0 0 50px;}
#comments ol.children .avatar{left:0;top:10px;}
#comments .comment-meta{margin-top:3px;position:relative;}
#comments p.commentmetadata{color:#6b6b6b;font:normal 11px Avant Garde, Century Gothic, Arial, sans-serif;}
#comments p.comment-reply-link{font:normal 11px Avant Garde, Century Gothic, Arial, sans-serif;position:absolute;top:0;right:0;}
#comments .comment-entry{margin-top:15px;padding-bottom:10px;}
#comments .comment-entry p,
#comments .comment-entry ul li,
#comments .comment-entry ol li{font:normal 12px Avant Garde, Century Gothic, Arial, sans-serif;line-height:16px;margin-bottom:10px;}
#comments li.bypostauthor,
#comments li.bypostauthor.comment.depth-1{background:#fff;-pie-background:linear-gradient(left center, #ebebeb 0%, #fff 50%, #ebebeb 100%);background:-moz-linear-gradient(left center, #ebebeb 0%, #fff 50%, #ebebeb 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0, #ebebeb),color-stop(0.5, #fff),color-stop(1, #ebebeb));background:linear-gradient(left center, #ebebeb 0%, #fff 50%, #ebebeb 100%);-moz-box-shadow:0 0 4px #555;-webkit-box-shadow:0 0 4px #555;box-shadow:0 0 4px #555;}
#comments .children li.bypostauthor,
#comments li.bypostauthor li.comment{padding:10px 10px 0 60px !important;-moz-border-radius:5px;}
#comments ol.children li.bypostauthor .avatar,
#comments li.bypostauthor li.comment .avatar{left:10px;}
#comments #commentform{border:1px solid #d8d8d8;}
.two-col-right #comments_list > #respond #commentform{margin-left:-2px;}
.sidebar select{border:1px solid #e3e3e3;color:#2b2b2b;font:normal 12px Avant Garde, Century Gothic, Arial, sans-serif;}
#commentform{background:#eee;-moz-border-radius-topright:20px;-webkit-border-top-right-radius:20px;border-top-right-radius:20px;margin-bottom:10px;padding:10px 0 10px 0 !important;width:100%;}
#commentform p{clear:both;color:#606060;font:normal 12px Avant Garde, Century Gothic, Arial, sans-serif;vertical-align:middle;}
#commentform label.graphene_form_label{display:inline-block;float:left;padding-top:4px;width:71px;height:28px;}
#commentform input,
#commentform textarea{border:1px solid #e3e3e3;color:#2b2b2b;float:left;font:normal 12px Avant Garde, Century Gothic, Arial, sans-serif;padding:4px 3px;width:305px;height:16px;}
#commentform textarea{border:1px solid #e3e3e3;width:75%;height:175px;}
#commentform .input-text:focus,
#commentform textarea:focus{border-color:#bfdff5;}
#respond{left:0;z-index:200;}
#respond p{color:#606060;font:normal 12px Avant Garde, Century Gothic, Arial, sans-serif;margin:0 0 0 46px;}
#respond #cancel-comment-reply{margin-bottom:10px;}
#commentform .form-submit{display:none;}
#commentform .block-button{float:left;}
#commentform .form-allowed-tags{font-size:11px;margin-top:0 !important;}
#commentform .form-allowed-tags code{color:#808080;display:block;}
#commentform .graphene_wrap{margin:0 0 0 118px;width:75%;}
.three-columns .children #commentform .graphene_wrap{margin-left:46px;}
#commentform .graphene_wrap p{margin-left:0;margin-top:10px;}
#commentform .comment-notes{padding-bottom:10px;}
#sidebar1,
#sidebar2{display:inline;float:left;margin-top:0px;margin-top:2px;padding:0 10px 3px 15px;width:195px;}
#sidebar2{padding-left:0;}
.three-columns #sidebar1,
.three-columns #sidebar2{width:227px;}
.three-col-center #sidebar1,
.three-col-center #sidebar2{padding:0 15px 30px 15px;}
.sidebar,
.sidebar p,
.sidebar li{font-family:Avant Garde, Century Gothic, Arial, sans-serif;font-size:12px;}
.sidebar h3{background:url(images/bg-sidebar-h3.png) left bottom repeat-x #FFFFFF;background:-moz-linear-gradient(bottom , #AAAAAA, #FFFFFF);background:-webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#AAAAAA));background:linear-gradient(#AAAAAA, #FFFFFF);border-bottom:1px solid #FFFFFF;-moz-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;color:#101030;font:bold 13px Avant Garde, Century Gothic, Arial, sans-serif;margin:-15px 0 5px -12px;padding:4px 12px;text-shadow:0 -1px 1px #FFFFFF;width:100%;zoom:1;}
.sidebar h3 a,
.sidebar h3 a:visited,
.sidebar h3 a,
.sidebar h3 a:hover{color:#fff;}
.sidebar div.sidebar-wrap{background:#fff;border:1px solid #ccc;-moz-box-shadow:0 0 5px #BBB;-webkit-box-shadow:0 0 5px #BBB;box-shadow:0 0 5px #BBB;margin-bottom:8px;padding:10px 12px;position:relative;width:170px;}
.three-columns .sidebar div.sidebar-wrap{width:200px;}
.sidebar #tweetfollow{margin-top:5px;text-align:right;}
#sidebar_bottom{background:#E3E3E3;clear:both;margin-top:-10px;padding:0 0 20px 0;}
#sidebar_bottom .sidebar-wrap{display:inline-block;margin:10px 0 5px 15px;padding:10px;vertical-align:top;width:278px;zoom:1;}
#sidebar_bottom .sidebar-wrap h3{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;margin:-10px -10px 10px -10px;padding:7px 10px;width:100%;height:auto;}
#calendar_wrap{text-align:center;}
#wp-calendar{border-collapse:collapse;margin:0 auto;}
#wp-calendar #today{font-weight:bold;}
#wp-calendar td,
#wp-calendar th{padding:3px 4px;}
#wp-calendar #prev{text-align:left;}
#wp-calendar #next{text-align:right;}
.sidebar ul,
.sidebar ol,
.sidebar p{color:#101030;font:normal 11px Avant Garde, Century Gothic, Arial, sans-serif;margin:0;}
.sidebar ol{list-style-position:outside;margin-left:29px;}
.sidebar ol ol{list-style-type:lower-alpha;margin-left:20px;}
.sidebar ul ul{margin-left:20px;}
.sidebar ol ol ol{list-style-type:lower-roman;}
.sidebar ol li{line-height:15px;padding:2px 0;}
.sidebar ul ul li{border:none;}
.sidebar ul ul li{line-height:15px;}
.sidebar p{line-height:18px;}
.sidebar p img{border:4px solid #dedede;}
.sidebar ul{list-style-position:outside;list-style-type:none;}
.sidebar ul li{border-bottom:0px solid #e3e3e3;line-height:15px;padding:3px 0;}
.sidebar ul li img,
.sidebar ol li img{display:inline;margin:0 2px;vertical-align:middle;}
.sidebar ul li span.meta-rss{display:inline-block;width:0px;height:16px;}
.sidebar li.rss{padding-left:20px;}
#footer{background:#005983;-moz-box-shadow:0 3px 3px 0 #333;-webkit-box-shadow:0 3px 3px 0 #333;box-shadow:0 3px 3px 0 #333;height:47px;position:relative;}
#copyright{color:#abb1aa;float:left;font:normal 11px tahoma;padding-left:120px;padding-top:9px;width:380px;height:42px;}
#footer a,
#footer a:visited{color:#fff;text-decoration:none;}
#footer a:hover{text-decoration:underline;}
#footer li{color:#000;list-style-type:none;padding:3px 0 0 0;}
#w3c{float:right;line-height:14px;margin-right:25px;padding:9px 0 0 0;width:69px;height:40px;}
#w3c span{display:none;}
#w3c a{background:none;display:block;width:69px;height:13px;}
#w3c a#w3c_css{background-position:-390px -38px;margin-top:2px;}
#developer{color:#abb1aa;float:right;font:normal 11px tahoma;margin-right:5px;padding-top:9px;text-align:right;width:300px;}